:root {
	font-size: 20px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 300;
	--secondary-light: rgb(128, 137, 173);
	--secondary-dark: rgb(80, 84, 119);
	--secondary-main: rgb(97, 108, 153);
	--primary-main: rgb(252, 221, 242);
	--primary-dark: rgb(255, 194, 194);
	--primary-light: rgb(255, 222, 222);
}

body {
	// For now, can change later
	background: rgb(255, 245, 245);
}
%sakura {
	z-index: -1;
	position: fixed;
	width: 15rem;
}
.sakura-normal {
	@extend %sakura;
	right: 0;
	bottom: 0;
}
.sakura-flipped {
	@extend %sakura;
	top: 2rem;
	left: 0;
}
.welcome {
	display: grid;
	z-index: 2;
	opacity: 1;
	h1, h2 {
		font-weight: 300;
		color: var(--secondary-main) !important;
		text-shadow: -2px 2px 10px var(--secondary-light)
	}
	h1 {
		font-weight: 400;
		color: var(--secondary-dark) !important;
	} 
}
.welcome-form {
	* {
		z-index: 3;
	}
}

@media screen and (max-width: 997px) {
	:root {
		font-size: 16px;
	}
}
