:root {
	font-size: 20px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: 300;
	--secondary-light: rgb(128, 137, 173);
	--secondary-dark: rgb(80, 84, 119);
	--secondary-main: rgb(97, 108, 153);
	--primary-main: rgb(252, 221, 242);
	--primary-dark: rgb(255, 194, 194);
	--primary-light: rgb(255, 222, 222);
}

body {
	// For now, can change later
	background: rgb(255, 245, 245);
}

@media screen and (max-width: 997px) {
	:root {
		font-size: 16px;
	}
}
